body {
  background-color: #BEF8FD;
}

.container {
  padding-top: 20px;
}

.pull-right {
  float: right !important;
}
li{
  display: inline-block;
   padding: 16px;
   margin: 10px 0;
   max-width: 468px;
   border: #ddd 1px solid;
   border-top-color: #eee;
   border-bottom-color: #bbb;
   border-radius: 5px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.15);
   font: bold 14px/18px Helvetica, Arial, sans-serif;
   color: #000;
   background-color: white;
}

.custombuttons{
  margin: 3px;
}
